*{
    margin:0px;
    padding:0px;
    background: pink;
}

.button{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    padding:50px;
    background:red;
}

#myButton, #fetchAPI{
    background:green;
    padding: 10px;
    margin:10px;
}

#message, #fetchedData{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 1rem;
    color: grey;
    border: 1px solid black;
    padding: 10px;
}
